<nav class="navbar navbar-expand-sm navbar-light navstyle d-flex">
  <div class="container-fluid height100center">
    <a class="navbar-brand sneakers" href="#">sneakers</a>
    <div class="collapse navbar-collapse height100center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-lg-0 height100center">
        <li class="nav-item hoverNav efeitoHoverNav">
          <a class="nav-link efeitoHoverNav" aria-current="page" href="#">Collections</a>
        </li>
        <li class="nav-item hoverNav efeitoHoverNav">
          <a class="nav-link efeitoHoverNav" href="#">Man</a>
        </li>
        <li class="nav-item hoverNav efeitoHoverNav">
          <a class="nav-link efeitoHoverNav" href="#">Woman</a>
        </li>
        <li class="nav-item hoverNav efeitoHoverNav">
          <a class="nav-link efeitoHoverNav" href="#">About</a>
        </li>
        <li class="nav-item hoverNav efeitoHoverNav">
          <a class="nav-link efeitoHoverNav" href="#">Contact</a>
        </li>
      </ul>
      </div>
    </div>
      <app-carrinho></app-carrinho>
      <app-perfil class=""></app-perfil>
</nav>
